.container-small {
  margin: 5px; }

.container-medium {
  margin: 10px; }

.container-large {
  margin: 20px; }

.container-x-large {
  margin: 45px; }

header, .header-ext {
  display: flex;
  justify-content: center; }

.header-ext {
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center; }

.texto_center {
  text-align: center;
  border: 1px solid black;
  padding: 5px; }

.texto_left {
  text-align: left;
  border: 1px solid black;
  padding: 5px; }

/*Header pagina*/
header, .header-ext {
  display: flex;
  justify-content: center; }

header div img, .header-ext div img {
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center; }

.headerimagen {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover; }

.contenedorindex {
  background-color: white;
  display: grid;
  grid-template-areas: "header header" "nav nav" "main main" "footer footer";
  width: 100vw; }

header, .header-ext {
  grid-area: header; }

nav {
  grid-area: nav; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.tituloindex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 0px;
  background-color: white;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: rgba(8, 71, 245, 0.603);
  font-weight: bold;
  height: 80px; }

.subtituloindex {
  grid-area: subtitulo;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 15px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center; }

.imagenesindex {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap; }
  .imagenesindex.imagenesindex :hover {
    transform: scale(1.5);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer; }
  .imagenesindex .fotostam {
    display: flex;
    width: 200px;
    height: 150px;
    padding-top: 10px;
    box-shadow: 10px 10px 10px black; }

.imagencentro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.videoindex {
  display: flex;
  justify-content: center; }

.logo {
  display: flex;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  cursor: pointer; }

.divlogo :hover {
  transform: rotateX(360deg);
  transition-duration: 5s;
  transition-timing-function: ease-in-out; }

.navegadorindex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%; }

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100px; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding: 10px; }

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  flex-direction: row; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  padding-right: 50px;
  align-items: center;
  flex-direction: row; }

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px; }

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center; }

.bg-light {
  background-color: rgba(175, 129, 235, 0.767) !important;
  height: 150px; }

.galeria {
  color: #f6f6fa;
  text-align: center;
  justify-content: center;
  align-content: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  background-color: rgba(175, 129, 235, 0.767);
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 5px; }

.imagencard {
  width: 50%;
  padding: 30px;
  box-shadow: 10px 10px 10px black; }

.card :hover {
  transform: scale(1.2);
  cursor: pointer;
  transition-duration: 5s;
  transition-timing-function: ease-in-out; }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden; }

.card-title {
  display: flex;
  justify-content: center;
  color: rgba(175, 129, 235, 0.767);
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px; }

/*Segunda pagina*/
.mainnosotros {
  background-color: white; }

.quienessomos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: italic;
  font-size: 20px;
  color: white;
  background-color: black;
  height: 40px; }

.texto1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

@media screen and (min-width: 320px) and (min-width: 780px) {
  .texto1 {
    margin: auto;
    width: 90%;
    height: auto; } }

.logo1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 10px;
  width: 100%; }

.imagen1 {
  width: 150px;
  margin-left: 150px; }

.porque {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  color: rgba(8, 71, 245, 0.603);
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px; }

.items {
  list-style-type: none;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  width: 90%; }

li {
  list-style-type: none; }

/*Formulario css*/
form {
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  margin: 0 auto;
  width: 300px;
  background-color: rgba(8, 71, 245, 0.603);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  color: #252525;
  border-radius: 15px;
  border-color: black;
  display: flex;
  flex-direction: column;
  text-align: left; }

form div {
  padding-top: 1px;
  padding-bottom: 1px; }

form input {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 3px;
  width: 250px; }

form textarea {
  padding-top: 1px;
  padding-bottom: 20px;
  margin-top: 3px;
  width: 250px; }

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 15px;
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  font-size: 10px;
  color: white; }

.footer-main {
  display: grid;
  width: 100%;
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr); }

.footer-columna1 {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px; }

.footer-columna2 {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px; }

.footer-columna3 {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px; }

.footer-columna3 p {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

input {
  width: 400px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px; }
