.footer-container {display: flex;
                    flex-direction: row;
                    justify-content: start;
                    margin-top: 15px;
                    background-color: black;
                    font-family: 'Quicksand', sans-serif;
                    font-weight: bolder;
                    font-size: 10px;
                    color:white;
                    }

.footer-main {display: grid;
                    width: 100%;
                    max-width: 1200px;
                    grid-template-columns: repeat(3, 1fr);}

.footer-columna1 {display: flex;
                align-items: center;
                margin: auto;
                padding: 10px;
                }

.footer-columna2 {display: flex;
    align-items: center;
    margin: auto;
    padding: 10px;
    }

.footer-columna3 {display: flex;
    align-items: center;
    margin: auto;
    padding: 10px;
    }

.footer-columna3 p {width: 100%;
                    display: flex;
                    flex-wrap: wrap;}

input {width: 400px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;}





