/*Header pagina*/
header {display:flex;
        justify-content: center;}
    
header div img {width: 100%;
                height: 300px;
                justify-content: center;
                align-items: center;
                }
            
.headerimagen {display: flex;
               justify-content: center;
                width: 100%;
                object-fit: cover;
                }

