.logo {display: flex;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    cursor: pointer;}
  
.divlogo :hover {transform: rotateX(360deg);
    transition-duration: 5s;
    transition-timing-function: ease-in-out;} 

.navegadorindex {display: flex;
        justify-content: space-between;
        align-items:center;
        justify-content: center;
        width: 100%;} 

.navbar {display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 100px;}

.navbar-nav {display: flex;
            flex-direction: row;
            padding: 10px;}

.navbar-expand-lg .navbar-collapse {
            display: flex!important;
            flex-basis: auto;
            flex-direction: row;}
    
.navbar-collapse {flex-basis: 100%;
        flex-grow: 0;
        padding-right: 50px;
        align-items: center;
        flex-direction: row;}
        
ul {display: block;
            list-style-type: disc;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 30px;}
    
.navbar>.container-fluid {display: flex;
                flex-wrap: inherit;
                align-items: center;}
            
.bg-light {background-color: $color-nav !important;
        height: 150px;}