$color-nav: rgba(175, 129, 235, 0.767);
$color-titulo: rgba(8, 71, 245, 0.603);

//Maps

$margen: (
    "small": 5px,
    "medium": 10px,
    "large": 20px,
    "x-large": 45px,
    );

@each $nombre, $medida in $margen {
    .container-#{$nombre} {
        margin: $medida;
    }
}

//Extend

header {display: flex;
        justify-content: center;}

    .header-ext {
        @extend header;
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: center; 
    }

//mixin

@mixin button2 ($valor) {
    text-align: $valor;
    border: 1px solid black;
    padding: 5px;
}

.texto_center {
    @include button2(center);
}

.texto_left {
    @include button2(left);
}

